<ul class="main_menu">
{% if current_user.is_authenticated %}


        <li><a href="{{ url_for('main.home') }}">Главная</a></li>
        <li><a href="{{ url_for('main.blog') }}">Блог</a></li>
        <li><a href="{{ url_for('users.account') }}">Аккаунт</a></li>
        {% if current_user.is_admin %}
          <li><a href="{{ url_for('admin.index') }}">Админка</a></li>
        {% else %}
        {% endif %}

        <li><a href="{{ url_for('users.logout') }}">Выход</a></li>

     <div class="online_status">

        <div class="online_user"></div>
        <div class="current_user">
            <small>{{ current_user.username }}</small>
        </div>
     </div>

        {% else %}

        <li><a href="{{ url_for('main.home') }}">Главная</a></li>
        <li><a href="{{ url_for('users.register') }}">Регистрация</a></li>
        <li><a href="{{ url_for('users.login') }}">Логин</a></li>

        {% endif %}

</ul>